<section class="key-card">
  <div class="card-body">
      {{!-- Offer key-cards in another div, username may not be needed if both call and offer be on the same display--}}
      <div>
        <a href="/meshcard/{{id}}">
          <header>OFFER</header> 
          <p>Username: {{username}}</p>
          <p>Offer Category: {{offer_category}}</p>
          <p>Keywords: {{offer_keywords}}</p>
        </a>
      </div> 
    </div>
 </section>