<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MESH</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--
  <link rel="stylesheet" href="/css/style.css"> -->
  <style>
    body * { margin-top: 20px; min-height: 50px;}
    #row2,#row3,#row4{border: 5px solid #BFBFBF; border-radius: 15px; }
    nav * {display: block; border: 5px solid #BFBFBF; border-radius: 15px; padding: 20px; margin-bottom: 20px;}
  </style>
  
</head>

<body>
  <!-- class="container-fluid w-100 vh-100" if not needed later then delete this div-->
<div class ="p-5">
    <!-- THIS IS THE FIRST SECTION; THIS SECTION IS A JUMBOTRON-->
    <section class="jumbotron jumbotron-fluid rounded py-0" style="background-color: #7B68EE ;border-radius: 15px;" >
      <div class="container">
        <h1 class="display-4">WELCOME TO MESH!</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </section>
    <!--THIS IS THE LAST SECTION WHICH CONTAINS THE MAIN CONTENT TO BE RENDERED BY {{{BODY}}}-->
    <section>
      <main class="container-fluid" >
        <!-- All of our views will be placed in that place holder "body" and rendered -->
        {{{ body }}}
      </main>
    </section>
</div>
</body>
</html>