<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MESH</title>


  <link rel="stylesheet" href="/mesh/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/mesh/public/css/style.css">


  <link rel="stylesheet" href="/mesh/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/mesh/public/css/style.css">

</head>

<body class="container text-center">
  <header class="container text-center">
    <h1>
      WELCOME TO MESH
    </h1>
  </header>
  {{!-- HERE COMES THE LOGIN REFERENCES FOR MESH --}}
  
  <nav class = "nav justify-content-left">
    
    <a href="/signup">Create an Account</a>
    
    <!-- If the user is logged in, show "My Account link" and a logout button -->
    
    {{#if logged_in}}
    <a href="/member">My Account</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    
    <!-- Otherwise, show a link to login and when we click it we will use router.get /login -->
    
    <a href="/login">Login</a>
    {{/if}}
  </nav> 

  <main class="container container-fluid mt-5">
    <!-- All of our views will be placed in that place holder "body" and rendered -->
    {{{ body }}}
  </main>
  <footer>
    <div>
      <article>
        <h2>MESH</h2>
        <ul>
          <li>
            <a href="https://github.com/CaptainQuickWit/mesh">Github</a>
          </li>
          <li>
            <a href="https://github.com/CaptainQuickWit/mesh">LinkedIn</a>
          </li>
        </ul>
      </article>
      <nav>
        <div>
          <h2>MENU</h2>
          <ul>
            <li>
              <a href="/">Meshboard</a>
            </li>
            <li>
              <a href="/member">Member Page</a>
            </li>
          </ul>
        </div>
      </nav>
      <aside>
        <p>
          Mesh - Return the favor
        </p>
      </aside>
    </div>
  </footer>
  
</body>

</html>
