{{!-- NEEDS TO BE UPDATED LATER. IT WILL SHOW ALL POSTED CARDS AND SEARCH FIELD --}}
{{!-- NEEDS TO BE UPDATED LATER. IT WILL SHOW ALL POSTED CARDS AND SEARCH FIELD --}}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1 class="text-center"> Search Meshcards</h1>

<section class="d-flex my-3" style="border: 5px solid #BFBFBF; border-radius: 15px; padding:0px; margin:0px;" >
<div class="form-group">
  <button class="btn btn-primary mx-5 mb-2" type="submit"><a href="/member" style="color: white;">Member Page</a></button>
  
<div class="my-0"></div>
  <button class="btn btn-primary mx-5 mt-2" type="submit" id="logout">Logout</button>
</div>

</section>

<section class="d-flex justify-content-center" style="border: 5px solid #BFBFBF; border-radius: 15px; padding:0px; margin:0px;" >


  <div class="d-flex">
  <div class="d-inline-flex" >

    <div class="col-md-5">
      <div class="card" style="width: 35rem;">
        <div class="card-body">
          <h3 class="card-title">OFFERS</h3>
          <p class="card-text">
            {{#each cardOffers as |cardOffer|}}
            {{> offer-key cardOffer}}
            {{/each}}
          </p>
        </div>
      </div>    
    </div>
    
    <div class="col-md-5">
      <div class="card" style="width: 35rem;">
        <div class="card-body">
          <h3 class="card-title">CALLS</h3>
          <p class="card-text">
            {{#each cardCalls as |cardCall|}}
            {{> call-key cardCall}}
            {{/each}}
          </p>
        </div>      
      </div>
    </div>

  </div>
  </div>
</section>
<script src="./js/logout.js"></script>