{{!-- NEEDS TO BE UPDATED LATER. IT WILL SHOW ALL POSTED CARDS AND SEARCH FIELD  --}}

<div class="row align-center mb-5">
  <div>
    <p>App Description</p>
  </div>
  <div>
    <span>Log In</span>>
    <span>Create an Account</span>
  </div>
</div>
<div>
  <h2>Subtitle (image)</h2>
  <div>
    <img>
  </div>
</div>